[submodule "strapping-mediawiki"]
	path = strapping-mediawiki
	url = git://github.com/OSAS/strapping-mediawiki
[submodule "skins/strapping"]
	path = skins/strapping
	url = git://github.com/OSAS/strapping-mediawiki.git
